$main-color :#d4d4d4;

.header-container {
  background-size: cover;
  background-position: center;
  height: 700px;
  background-repeat: no-repeat;
  background-image: url(../img/header/corusant.jpg);
}

.top-bar {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 90px 0;

  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: $main-color;
  transition: 0.2s;

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.buttons-container {
  display: flex;
  align-items: center;
}

.border-sign-up {
  padding: 5px;
  line-height: 20px;
  justify-content: center;

  border: 2px solid $main-color;
  border-radius: 40px;
  transition: 0.2s;

  .sign-up {
    text-decoration: none;
    color: $main-color;
    font-size: 17px;
  }
  &:hover {
    transform: scale(1.2);
  }
}

.log-in-button {
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
  color: $main-color;
  transition: 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

.main-tittle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 52px;

  padding-top: 120px;
  line-height: 70px;
  text-align: center;

  color: $main-color;
}

.small-tittle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;

  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;

  color: $main-color;
}

.find-button-standpoint {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 40px;
  align-items: center;

  .find-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid $main-color;
    border-radius: 40px;
    cursor: pointer;
    backdrop-filter: blur(10px);

    transition: 1.3s;
    &:hover {
      box-shadow: 0 5px 30px 0 #15f4ee inset, 0 5px 30px 0 #15f4ee,
        0 5px 30px 0 #15f4ee inset, 0 5px 30px 0 #15f4ee;
    }
  }

  .find-button-txt {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $main-color;
    transition: 0.2s;
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 1160px) {
  
  .header-container {
    background-size: cover;
    background-position: center;
    height: 700px;
    background-repeat: no-repeat;
  }

  .top-bar{
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 90px 0;
  
    align-items: center;
  }

  .logo {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $main-color;
  }

  .buttons-container {
    display: flex;
    align-items: center;
  }

  .border-sign-up {
    padding: 5px;
    line-height: 20px;
    justify-content: center;

    border: 2px solid $main-color;
    box-sizing: border-box;
    border-radius: 40px;

    .sign-up {
      text-decoration: none;
      color: $main-color;
      font-size: 17px;
    }
  }

  .log-in-button {
    padding: 10px;
    line-height: 20px;

    font-size: 17px;
    text-decoration: none;
    color: $main-color;
  }

  .main-tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 52px;

    padding-top: 120px;
    line-height: 70px;
    text-align: center;

    color: $main-color;
  }

  .small-tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;

    color: $main-color;
  }

  .find-button-standpoint {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 40px;
    align-items: center;

    .find-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 225px;
      height: 40px;
      transition: 0.2s;

    }
    .find-button-txt {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: $main-color;
        transition: 0.2s;
        text-decoration: none;
        &:hover {
          transform: scale(1.1);
        }
    }
  }
}

@media screen and (max-width: 720px) {
  .header-container {
    background-size: cover;
    background-position: center;

    height: 540px;
    background-repeat: no-repeat;
  }

  .top-bar{
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 22.5px 0;
  
    align-items: center;
  }

  .logo {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $main-color;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .buttons-container {
    display: flex;
    align-items: center;
  }

  .border-sign-up {
    padding: 5px;
    line-height: 20px;
    justify-content: center;

    border: 2px solid $main-color;
    border-radius: 40px;

    .sign-up {
      text-decoration: none;
      color: $main-color;
      font-size: 15px;
    }
  }

  .log-in-button {
    padding: 10px;
    font-size: 15px;
    line-height: 17px;
    text-decoration: none;

    color: $main-color;
    transition: 0.2s;

    &:hover {
    transform: scale(1.1);
    }
  }

  .main-tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 30px;

    padding-top: 60px;
    line-height: 35px;
    text-align: center;

    color: $main-color;
  }

  .small-tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;

    color: $main-color;
  }

  .find-button-standpoint {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 50px;
    align-items: center;

    .find-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 225px;
      height: 40px;
      transition: 0.2s;
    }

    .find-button-txt {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: $main-color;
      transition: 0.2s;
      text-decoration: none;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}