*,*::before, *::after {
    box-sizing: border-box;
}

html, body, div, h1, p, a, img, footer, header, section{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

footer, header, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input {
    line-height: normal;
}


button,
select {
    text-transform: none;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    vertical-align: middle; /* 3 */
}