@import url(./fonts/font.css);
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, h1, p, a, img, footer, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer, header, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  vertical-align: middle; /* 3 */
}

.header-container {
  background-size: cover;
  background-position: center;
  height: 700px;
  background-repeat: no-repeat;
  background-image: url(../img/header/corusant.jpg);
}

.top-bar {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 90px 0;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #d4d4d4;
  transition: 0.2s;
}
.logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.border-sign-up {
  padding: 5px;
  line-height: 20px;
  justify-content: center;
  border: 2px solid #d4d4d4;
  border-radius: 40px;
  transition: 0.2s;
}
.border-sign-up .sign-up {
  text-decoration: none;
  color: #d4d4d4;
  font-size: 17px;
}
.border-sign-up:hover {
  transform: scale(1.2);
}

.log-in-button {
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
  color: #d4d4d4;
  transition: 0.2s;
}
.log-in-button:hover {
  transform: scale(1.2);
}

.main-tittle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 52px;
  padding-top: 120px;
  line-height: 70px;
  text-align: center;
  color: #d4d4d4;
}

.small-tittle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #d4d4d4;
}

.find-button-standpoint {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 40px;
  align-items: center;
}
.find-button-standpoint .find-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #d4d4d4;
  border-radius: 40px;
  cursor: pointer;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 1.3s;
}
.find-button-standpoint .find-button:hover {
  box-shadow: 0 5px 30px 0 #15f4ee inset, 0 5px 30px 0 #15f4ee, 0 5px 30px 0 #15f4ee inset, 0 5px 30px 0 #15f4ee;
}
.find-button-standpoint .find-button-txt {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #d4d4d4;
  transition: 0.2s;
  text-decoration: none;
}
.find-button-standpoint .find-button-txt:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1160px) {
  .header-container {
    background-size: cover;
    background-position: center;
    height: 700px;
    background-repeat: no-repeat;
  }
  .top-bar {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 90px 0;
    align-items: center;
  }
  .logo {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #d4d4d4;
  }
  .buttons-container {
    display: flex;
    align-items: center;
  }
  .border-sign-up {
    padding: 5px;
    line-height: 20px;
    justify-content: center;
    border: 2px solid #d4d4d4;
    box-sizing: border-box;
    border-radius: 40px;
  }
  .border-sign-up .sign-up {
    text-decoration: none;
    color: #d4d4d4;
    font-size: 17px;
  }
  .log-in-button {
    padding: 10px;
    line-height: 20px;
    font-size: 17px;
    text-decoration: none;
    color: #d4d4d4;
  }
  .main-tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 52px;
    padding-top: 120px;
    line-height: 70px;
    text-align: center;
    color: #d4d4d4;
  }
  .small-tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: #d4d4d4;
  }
  .find-button-standpoint {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 40px;
    align-items: center;
  }
  .find-button-standpoint .find-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 40px;
    transition: 0.2s;
  }
  .find-button-standpoint .find-button-txt {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #d4d4d4;
    transition: 0.2s;
    text-decoration: none;
  }
  .find-button-standpoint .find-button-txt:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 720px) {
  .header-container {
    background-size: cover;
    background-position: center;
    height: 540px;
    background-repeat: no-repeat;
  }
  .top-bar {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 90px 0;
    align-items: center;
  }
  .logo {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #d4d4d4;
    transition: 0.2s;
  }
  .logo:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .buttons-container {
    display: flex;
    align-items: center;
  }
  .border-sign-up {
    padding: 5px;
    line-height: 20px;
    justify-content: center;
    border: 2px solid #d4d4d4;
    border-radius: 40px;
  }
  .border-sign-up .sign-up {
    text-decoration: none;
    color: #d4d4d4;
    font-size: 17px;
  }
  .log-in-button {
    padding: 10px;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    color: #d4d4d4;
    transition: 0.2s;
  }
  .log-in-button:hover {
    transform: scale(1.2);
  }
  .main-tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 42px;
    padding-top: 70px;
    line-height: 70px;
    text-align: center;
    color: #d4d4d4;
  }
  .small-tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: #d4d4d4;
  }
  .find-button-standpoint {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 50px;
    align-items: center;
  }
  .find-button-standpoint .find-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 40px;
    transition: 0.2s;
  }
  .find-button-standpoint .find-button-txt {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #d4d4d4;
    transition: 0.2s;
    text-decoration: none;
  }
  .find-button-standpoint .find-button-txt:hover {
    transform: scale(1.1);
  }
}
.headline-first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding-top: 80px;
  padding-bottom: 20px;
  color: #444444;
}
.headline-first-section .headline {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}

.first-section {
  display: flex;
  height: 500px;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.first-section__img {
  width: 300px;
  height: 400px;
  transition: 0.2s;
}
.first-section__img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1160px) {
  .first-section {
    display: flex;
    height: 500px;
    justify-content: center;
    gap: 50px;
    align-items: center;
  }
  .first-section__img {
    width: 200px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 720px) {
  .headline-first-section {
    padding-top: 40px;
  }
  .first-section {
    display: flex;
    height: 800px;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
  .first-section__img {
    width: 200px;
    height: 220px;
  }
}
.second-section {
  display: flex;
  justify-content: center;
  height: 400px;
  flex-wrap: wrap;
}
.second-section .headline-second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}
.second-section .headline-second-section .second-headline {
  font-weight: bold;
  font-size: 100%;
  line-height: 32px;
  color: #444444;
  padding-top: 20px;
  padding-bottom: 20px;
}
.second-section .stormtrooper-list {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0px 15% 0px 15%;
  margin: 0px;
  padding-top: 25px;
}
.second-section .stormtrooper-list .img-stormtrooper {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.second-section .stormtrooper-list .img-stormtrooper .stormtrooper-name {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
}
.second-section .img-second-section {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  transition: 0.2s;
}
.second-section .img-second-section:hover {
  border-radius: 20%;
}
.second-section .button-second-section-standpoint {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  transition: 0.3s;
}
.second-section .button-second-section-standpoint .border-button-second-section {
  width: 180px;
  height: 40px;
  background-color: #b1b1b1;
  border: 2px solid #000000;
  border-radius: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-section .button-second-section-standpoint .border-button-second-section .text-button-second-section {
  width: 137px;
  height: 17px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.second-section .button-second-section-standpoint:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1160px) {
  .second-section {
    display: flex;
    justify-content: center;
    height: 400px;
    flex-wrap: wrap;
  }
  .second-section .headline-second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
  }
  .second-section .stormtrooper-list {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0px 15% 0px 15%;
    margin: 0px;
    padding-top: 25px;
  }
  .second-section .stormtrooper-list .img-stormtrooper {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .second-section .stormtrooper-list .stormtrooper-name {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    text-align: center;
  }
  .second-section .button-second-section-standpoint {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  .second-section .button-second-section-standpoint .border-button-second-section {
    width: 180px;
    height: 40px;
    background-color: #b1b1b1;
    border: 2px solid #000000;
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .second-section .button-second-section-standpoint .border-button-second-section .text-button-second-section {
    width: 137px;
    height: 17px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  .second-section .button-second-section-standpoint:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 720px) {
  .second-section {
    display: flex;
    justify-content: center;
    height: 400px;
    flex-wrap: wrap;
  }
  .second-section .headline-second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
  }
  .second-section .stormtrooper-list {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0px 15% 0px 15%;
    margin: 0px;
    padding-top: 25px;
  }
  .second-section .stormtrooper-list .img-stormtrooper {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  .second-section .stormtrooper-list .img-stormtrooper .stormtrooper-name {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    text-align: center;
  }
  .second-section .img-second-section {
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    transition: 0.2s;
  }
  .second-section .img-second-section:hover {
    border-radius: 20%;
  }
  .second-section .button-second-section-standpoint {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 550px;
    transition: 0.3s;
  }
  .second-section .button-second-section-standpoint .border-button-second-section {
    width: 180px;
    height: 40px;
    background-color: #b1b1b1;
    border: 2px solid #000000;
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .second-section .button-second-section-standpoint .border-button-second-section .text-button-second-section {
    width: 137px;
    height: 17px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  .second-section .button-second-section-standpoint:hover {
    transform: scale(1.1);
  }
}
.section_for {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  height: 1031px;
  margin-top: 430px;
}
.section_for .text_centr {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  background-color: rgba(102, 102, 102, 0.7254901961);
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  color: #d1d1d1;
}
.section_for .sport {
  width: 297px;
  height: 310px;
  left: 0px;
  top: 61px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/alies.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .sport:hover {
  scale: 1.1;
}
.section_for .health {
  width: 296px;
  height: 310px;
  left: 320px;
  top: 61px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/sea_star.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .health:hover {
  scale: 1.1;
}
.section_for .extreme {
  width: 297px;
  height: 310px;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/red-suit.webp");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .extreme:hover {
  scale: 1.1;
}
.section_for .games {
  width: 300px;
  height: 310px;
  left: 0px;
  top: 391px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/new_images/mike_2.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .games:hover {
  scale: 1.1;
}
.section_for .culture_copy {
  width: 620px;
  height: 310px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/battle-field.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .culture_copy:hover {
  scale: 1.1;
}
.section_for .culture {
  width: 620px;
  height: 310px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/mando.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .culture:hover {
  scale: 1.1;
}
.section_for .games_copy {
  width: 300px;
  height: 310px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/tatooine.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .games_copy:hover {
  scale: 1.1;
}
.section_for .h_tree {
  position: absolute;
  width: 413px;
  height: 30px;
  top: -80px;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  margin-top: 20px;
  color: #444444;
}

@media screen and (max-width: 1160px) {
  .section_for {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 700px;
    margin-top: 800px;
  }
  .section_for .text_centr {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    background-color: rgba(102, 102, 102, 0.7254901961);
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    color: #d1d1d1;
  }
  .section_for .h_tree {
    position: absolute;
    width: 350px;
    height: 27px;
    justify-content: center;
    top: -90px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #444444;
  }
  .section_for .sport {
    width: 210px;
    height: 310px;
    left: 0px;
    top: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .health {
    width: 210px;
    height: 310px;
    left: 320px;
    top: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .extreme {
    width: 210px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .games {
    width: 210px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .culture_copy {
    width: 436px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0px;
       object-position: 0px;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .culture {
    width: 436px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .games_copy {
    width: 210px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
}
@media screen and (max-width: 720px) {
  .section_for {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 1280px;
    margin-top: 950px;
  }
  .section_for .h_tree {
    position: absolute;
    width: 269px;
    height: 54px;
    top: 40px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #444444;
  }
  .section_for .sport {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .sport .text_centr {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #d1d1d1;
  }
  .section_for .health {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .extreme {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .games {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .culture_copy {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .culture {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .games_copy {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
}
.login {
  position: absolute;
  display: inline;
  width: 482px;
  height: 158px;
  left: calc(50% - 241px);
  top: 2932px;
}
.login .h_for {
  position: absolute;
  width: 358px;
  height: 32px;
  left: 60px;
  top: -6px;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  color: #444444;
}
.login .text {
  position: absolute;
  display: inline;
  width: 275px;
  height: 24px;
  left: calc(50% - 137.5px);
  top: 55px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #666666;
}

.pace {
  position: absolute;
  width: 482px;
  height: 40px;
  left: 0px;
  top: 118px;
}
.pace .input {
  position: absolute;
  width: 299px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
}
.pace .butt {
  position: absolute;
  width: 172.12px;
  height: 40px;
  left: 309px;
  top: 0px;
  background: #b1b1b1;
  border-radius: 40px;
  transition: 0.2s;
}
.pace .butt:hover {
  scale: 1.07;
}
.pace .decor {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
.pace .decor:visited {
  color: rgb(0, 0, 0);
}

.info {
  position: absolute;
  width: 100%;
  height: 225px;
  justify-content: center;
  top: 3200px;
}
.info .red_line {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  top: 0px;
  background: #000000;
}
.info .red {
  position: absolute;
  width: 119px;
  height: 20px;
  left: 249px;
  top: 38px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  transform: 0.2s;
}
.info .red:hover {
  scale: 1.2;
}
.info .company {
  position: absolute;
  width: 70px;
  height: 17px;
  left: 490px;
  top: 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: flex-end;
  color: #464646;
}
.info .partners {
  position: absolute;
  width: 64px;
  height: 17px;
  left: 729px;
  top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: flex-end;
  color: #464646;
}
.info .contact {
  position: absolute;
  width: 114px;
  height: 26px;
  left: 490px;
  top: 68px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  transition: 0.2;
  color: #000000;
}
.info .contact:hover {
  color: #000000;
  scale: 1.1;
}
.info .abou {
  position: absolute;
  width: 114px;
  height: 26px;
  left: 490px;
  top: 65px;
  text-decoration: none;
}
.info .cont {
  position: absolute;
  width: 114px;
  height: 26px;
  left: 490px;
  top: 95px;
  text-decoration: none;
}
.info .pres {
  position: absolute;
  width: 114px;
  height: 26px;
  left: 490px;
  top: 125px;
  text-decoration: none;
}
.info .blog {
  position: absolute;
  width: 114px;
  height: 26px;
  left: 490px;
  top: 155px;
  text-decoration: none;
}
.info .tap {
  position: absolute;
  width: 114px;
  height: 26px;
  left: 490px;
  top: 185px;
  text-decoration: none;
}
.info .help {
  position: absolute;
  width: 114px;
  height: 26px;
  left: 490px;
  top: 215px;
  text-decoration: none;
}
.info .desig {
  position: absolute;
  width: 83px;
  height: 12px;
  left: calc(55% + 232.5px);
  top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  color: #727272;
}
.info .logoo {
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(55% + 247.5px);
  top: 65px;
}

@media screen and (max-width: 1160px) {
  .login {
    position: absolute;
    display: inline;
    width: 482px;
    height: 158px;
    left: calc(50% - 241px);
    top: 3155px;
  }
  .login .h_for {
    position: absolute;
    width: 358px;
    height: 32px;
    left: 62.5px;
    top: -6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #444444;
  }
  .login .text {
    position: absolute;
    width: 415px;
    height: 24px;
    left: 90px;
    top: 69px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
    /* or 78% */
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #666666;
  }
  .pace {
    position: absolute;
    width: 482px;
    height: 40px;
    left: 0px;
    top: 118px;
  }
  .pace .input {
    position: absolute;
    width: 299px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
  }
  .pace .butt {
    position: absolute;
    width: 172.12px;
    height: 40px;
    left: 309px;
    top: 0px;
    background: #b1b1b1;
    border-radius: 40px;
  }
  .pace .butt:hover {
    scale: 1.07;
  }
  .info {
    display: flex;
    width: 720px;
    height: 224px;
    left: calc(50% - 360px);
    top: 3335px;
  }
  .info .red_line {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    background: #000000;
  }
  .info .red {
    position: absolute;
    width: 119px;
    height: 20px;
    left: 39px;
    top: 38px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    color: #000000;
  }
  .info .company {
    position: absolute;
    width: 70px;
    height: 17px;
    left: 266px;
    top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
  }
  .info .partners {
    position: absolute;
    width: 64px;
    height: 17px;
    left: 436px;
    top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    color: #444444;
  }
  .info .contact {
    position: absolute;
    width: 114px;
    height: 156px;
    left: 266px;
    top: 68px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
  }
  .info .abou {
    position: absolute;
    width: 114px;
    height: 26px;
    left: 266px;
    top: 65px;
    text-decoration: none;
  }
  .info .cont {
    position: absolute;
    width: 114px;
    height: 26px;
    left: 266px;
    top: 95px;
    text-decoration: none;
  }
  .info .pres {
    position: absolute;
    width: 114px;
    height: 26px;
    left: 266px;
    top: 125px;
    text-decoration: none;
  }
  .info .blog {
    position: absolute;
    width: 114px;
    height: 26px;
    left: 266px;
    top: 155px;
    text-decoration: none;
  }
  .info .tap {
    position: absolute;
    width: 114px;
    height: 26px;
    left: 266px;
    top: 185px;
    text-decoration: none;
  }
  .info .help {
    position: absolute;
    width: 114px;
    height: 26px;
    left: 266px;
    top: 215px;
    text-decoration: none;
  }
  .info .desig {
    position: absolute;
    width: 83px;
    height: 12px;
    left: 585px;
    top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: black;
  }
  .info .logoo {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 620px;
    top: 59px;
  }
}
@media screen and (max-width: 720px) {
  .login {
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 345px;
    height: 192px;
    left: calc(50% - 172.5px);
    top: -70px;
    align-items: center;
  }
  .login .h_for {
    position: absolute;
    width: 280px;
    height: 54px;
    left: calc(50% - 140px);
    top: -6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #363636;
  }
  .login .text {
    position: absolute;
    width: 290px;
    height: 24px;
    left: calc(50% - 145px);
    top: 63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
    color: #444;
  }
  .pace {
    position: absolute;
    width: 280px;
    height: 90px;
    left: calc(50% - 140px);
    top: 102px;
  }
  .pace .input {
    position: absolute;
    width: 280px;
    height: 40px;
    left: -8px;
    top: 0px;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
  }
  .pace .butt {
    position: absolute;
    width: 280px;
    height: 40px;
    left: -8px;
    top: 50px;
    background: #b1b1b1;
    border-radius: 40px;
  }
  .info {
    width: 320px;
    height: 254px;
    left: calc(50% - 160px);
    top: 3712px;
  }
  .info .red_line {
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    background: #000000;
  }
  .info .red {
    position: absolute;
    width: 119px;
    height: 20px;
    left: 101px;
    top: 21px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  .info .company {
    width: 70px;
    height: 17px;
    left: 125px;
    top: 54px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #444444;
  }
  .info .partners {
    position: absolute;
    width: 64px;
    height: 17px;
    left: 127.5px;
    top: 130px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    color: #444444;
  }
  .info .contact {
    position: absolute;
    width: 40px;
    height: 156px;
    left: 266px;
    top: 68px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
  }
  .info .abou {
    position: absolute;
    width: 40px;
    height: 26px;
    left: 49px;
    top: 70px;
    text-decoration: none;
  }
  .info .cont {
    position: absolute;
    width: 40px;
    height: 26px;
    left: 105px;
    top: 70px;
    text-decoration: none;
  }
  .info .pres {
    position: absolute;
    width: 40px;
    height: 26px;
    left: 174px;
    top: 71px;
    text-decoration: none;
  }
  .info .blog {
    position: absolute;
    width: 40px;
    height: 26px;
    left: 230px;
    top: 72px;
    text-decoration: none;
  }
  .info .tap {
    position: absolute;
    width: 114px;
    height: 26px;
    left: 65px;
    top: 99px;
    text-decoration: none;
  }
  .info .help {
    position: absolute;
    width: 40px;
    height: 26px;
    left: 196px;
    top: 100px;
    text-decoration: none;
    color: #999999;
  }
  .info .desig {
    position: absolute;
    width: 83px;
    height: 12px;
    left: 120px;
    top: 161px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    color: #444444;
  }
  .info .logoo {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 133px;
    top: 180px;
  }
}
html {
  scroll-behavior: smooth;
  font-family: Montserrat;
}

body {
  background-color: #cccccc;
}/*# sourceMappingURL=main.css.map */