.headline-first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding-top: 80px;
  padding-bottom: 20px;

  .headline{
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
  }
  color: #444444;
}

.first-section {
  display: flex;
  height: 500px;
  justify-content: center;
  gap: 50px;
  align-items: center;

  &__img {
    width: 300px;
    height: 400px;
    transition: 0.2s;
    &:hover {
    transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 1160px) {
  .first-section {
    display: flex;
    height: 500px;
    justify-content: center;
    gap: 50px;
    align-items: center;

    &__img {
      width: 200px;
      height: 400px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 720px) {
  .headline-first-section {
    padding-top: 40px;
  }

  .first-section {
    display: flex;
    height: 800px;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: column;

    &__img {
      width: 200px;
      height: 220px;
    }
  }
}