.crop {
  background-size: cover;
  background-position: center;
  height: 700px;
  background-repeat: no-repeat;
  background-image: url(./img/header/corusant.jpg);
}

.logo {
  position: relative;
  left: 110px;
  top: 58px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  align-items: flex-start;
  color: #d4d4d4;
  transition: 0.2s;
}
.logo:hover {
  scale: 1.2;
  cursor: pointer;
}

.border {
  display: inline;
  position: absolute;
  top: 46px;
  right: 125px;
  padding: 5px;
  line-height: 20px;
  margin: 10px auto;
  justify-content: center;
  border: 2px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 40px;
}
.border .signUp {
  text-decoration: none;
  color: #d4d4d4;
  font-size: 17px;
  line-height: 17px;
  transition: 0.2s;
}

.border:hover {
  scale: 1.2;
}

.log_in_b {
  display: inline;
  position: absolute;
  top: 48px;
  right: 215px;
  padding: 5px;
  line-height: 20px;
  margin: 10px auto;
  justify-content: center;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #d4d4d4;
  transition: 0.2s;
}

.log_in_b:hover {
  scale: 1.2;
}

.tittle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 52px;
  top: 170px;
  line-height: 70px;
  text-align: center;
  color: #d4d4d4;
}

.smal_tittle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 230px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #d4d4d4;
}

.red_butt {
  position: absolute;
  left: 50%;
  top: 500px;
  transform: translate(-50%, -50%);
}
.red_butt .txt {
  position: absolute;
  left: 23px;
  top: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #d4d4d4;
  transition: 0.2s;
  text-decoration: none;
}
.red_butt .txt:hover {
  scale: 1.1;
}

.butt_red {
  position: relative;
  text-align: center;
  width: 225px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #d4d4d4;
  border-radius: 40px;
  cursor: pointer;
  transition: 1.7s;
}

.butt_red:hover {
  box-shadow: 0 5px 30px 0 #15f4ee inset, 0 5px 30px 0 #15f4ee, 0 5px 30px 0 #15f4ee inset, 0 5px 30px 0 #15f4ee;
}

@media screen and (max-width: 1160px) {
  .crop {
    background-size: cover;
    background-position: center;
    height: 700px;
    background-repeat: no-repeat;
    background-image: url(./img/header/corusant.jpg);
  }
  .logo {
    position: relative;
    justify-content: start;
    top: 58px;
    margin-left: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    display: inline-block;
    align-items: flex-start;
    color: #d4d4d4;
  }
  .log_in_b {
    display: inline;
    position: absolute;
    top: 48px;
    right: 215px;
    padding: 5px;
    line-height: 20px;
    margin: 10px auto;
    justify-content: center;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    color: #d4d4d4;
  }
  .border {
    display: inline;
    position: absolute;
    top: 46px;
    right: 125px;
    padding: 5px;
    line-height: 20px;
    margin: 10px auto;
    justify-content: center;
    border: 2px solid #d4d4d4;
    box-sizing: border-box;
    border-radius: 40px;
  }
  .border .signUp {
    text-decoration: none;
    color: #d4d4d4;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 17px;
  }
  .tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    top: 170px;
    line-height: 70px;
    text-align: center;
    color: #d4d4d4;
  }
  .small_tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 230px;
    font-family: Roboto;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: #d4d4d4;
  }
  .red_butt {
    position: absolute;
    width: 225px;
    height: 40px;
    left: 50%;
    top: 500px;
    transform: translate(-50%, -50%);
    background: #e9e1e1;
    border-radius: 40px;
    transition: 0.2s;
  }
  .red_butt .txt {
    position: absolute;
    left: 23px;
    top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: 0.2s;
    text-decoration: none;
  }
  .red_butt .txt:hover {
    scale: 1.1;
  }
}
@media screen and (max-width: 720px) {
  .crop {
    background-size: cover;
    background-position: center;
    height: 540px;
    background-repeat: no-repeat;
    background-image: url(./img/header/corusant.jpg);
  }
  .logo {
    position: relative;
    left: 5px;
    top: 60px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    align-items: flex-start;
    color: #ffffff;
  }
  .log_in_b {
    display: inline;
    position: absolute;
    top: 50px;
    right: 115px;
    padding: 5px;
    line-height: 20px;
    margin: 10px auto;
    justify-content: center;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 17px;
    /* identical to box height */
    text-decoration: none;
    color: #d4d4d4;
  }
  .border {
    display: inline;
    position: absolute;
    top: 46px;
    right: 35px;
    padding: 5px;
    line-height: 20px;
    margin: 10px auto;
    justify-content: center;
    border: 2px solid #d4d4d4;
    box-sizing: border-box;
    border-radius: 40px;
  }
  .border .signUp {
    text-decoration: none;
    color: #d4d4d4;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 17px;
  }
  .tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    top: 130px;
    line-height: 70px;
    text-align: center;
    color: #d4d4d4;
  }
  .smal_tittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
    font-family: Roboto;
    background-color: #1f1f1f;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: #d4d4d4;
  }
  .red_butt {
    position: absolute;
    width: 225px;
    height: 40px;
    left: 50%;
    top: 450px;
    transform: translate(-50%, -50%);
    background: #e9e1e1;
    border-radius: 40px;
    transition: 0.2s;
  }
  .red_butt .txt {
    position: absolute;
    left: 23px;
    top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: 0.2s;
    text-decoration: none;
  }
  .red_butt .txt:hover {
    scale: 1.1;
  }
}/*# sourceMappingURL=header.css.map */