$alies-img: '../img/section_tree/alies.jpg' ;
$sea-img: '../img/section_tree/sea_star.jpg';
$new-suit: '../img/section_tree/red-suit.webp';
$bloody-helmet:'../img/new_images/mike_2.jpg';
$battle-field:'../img/section_tree/battle-field.jpg';
$mando-img:'../img/section_tree/mando.jpg';
$tatooine-img:'../img/section_tree/tatooine.jpg';

$transition-scale: 1.1;


.section_for {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  height: 1031px;
  margin-top: 430px;

  .text_centr {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    background-color: #666666b9;

    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;

    color: #d1d1d1;
  }

  .sport {
    width: 297px;
    height: 310px;
    left: 0px;
    top: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($alies-img);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }


  .health {
    width: 296px;
    height: 310px;
    left: 320px;
    top: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($sea-img);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }

  .extreme {
    width: 297px;
    height: 310px;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($new-suit);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }

  .games {
    width: 300px;
    height: 310px;
    left: 0px;
    top: 391px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($bloody-helmet);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }
  // не зовсім розумію сенс назви, якщо в тебе все однакове і відрізняється тільки background-image -
  // можна зробити один клас, який буде задавати загальні стилі і інші класи які будуть задавати тільки background-image
  .culture_copy {
    width: 620px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($battle-field);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }

  .culture {
    width: 620px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($mando-img);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }
  // те саме стосовно назви і схожих параметрів
  .games_copy {
    width: 300px;
    height: 310px;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($tatooine-img);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }
  
  // naming
  .h_tree {
    position: absolute;
    width: 413px;
    height: 30px;
    top: -80px;

    font-weight: bold;
    font-size: 26px;
    line-height: 32px;

    margin-top: 20px;
    color: #444444;
  }
}

@media screen and (max-width: 1160px) {

  .section_for {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 700px;
    margin-top: 800px;

    .text_centr {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      background-color: #666666b9;

      display: flex;
      align-items: flex-end;
      text-align: center;
      justify-content: center;

      color: #d1d1d1;
    }

    .h_tree {
      position: absolute;
      width: 350px;
      height: 27px;
      justify-content: center;
      top: -90px;

      font-weight: bold;
      font-size: 22px;
      line-height: 27px;

      display: flex;
      align-items: flex-end;
      text-align: center;

      color: #444444;
    }

    .sport {
      width: 210px;
      height: 310px;
      left: 0px;
      top: 61px;

      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .health {
      width: 210px;
      height: 310px;
      left: 320px;
      top: 61px;

      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .extreme {
      width: 210px;
      height: 310px;

      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .games {
      width: 210px;
      height: 310px;
      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }
    .culture_copy {
      width: 436px;
      height: 310px;

      background-size: cover;
      background-repeat: no-repeat;
      object-fit: cover;
      object-position: 0px;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .culture {
      width: 436px;
      height: 310px;

      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .games_copy {
      width: 210px;
      height: 310px;

      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 720px) {
  .section_for {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 1280px;
    margin-top: 950px;

    .h_tree {
      position: absolute;
      width: 269px;
      height: 54px;
      top: 40px;

      font-weight: bold;
      font-size: 22px;
      line-height: 27px;

      color: #444444;
    }

    .sport {
      width: 300px;
      height: 120px;

      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;

      .text_centr {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;

        display: flex;
        align-items: flex-end;
        text-align: center;

        color: #d1d1d1;
      }
    }

    .health {
      width: 300px;
      height: 120px;

      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .extreme {
      width: 300px;
      height: 120px;

      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .games {
      width: 300px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .culture_copy {
      width: 300px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .culture {
      width: 300px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .games_copy {
      width: 300px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }
  }

}