$alies-img: '../img/section_tree/alies.jpg' ;
$sea-img: '../img/section_tree/sea_star.jpg';
$new-suit: '../img/section_tree/red-suit.webp';
$bloody-helmet:'../img/new_images/mike_2.jpg';
$battle-field:'../img/section_tree/battle-field.jpg';
$mando-img:'../img/section_tree/mando.jpg';
$tatooine-img:'../img/section_tree/tatooine.jpg';

$small-img: 28%;
$big-img: 57.5%;

$transition-scale: 1.05;

.headline-activites-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding-top: 80px;
  padding-bottom: 20px;

  .headline-activites {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
  }
  color: #444444;
}

.section-activites {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  height: 1031px;
  width: 100%;
  margin-top: 60px;

  .title-img {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    background-color: #666666b9;
    backdrop-filter: blur(10px);

    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    
    color: #d1d1d1;
  }

  .allies-activites__img{
    width: $small-img;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($alies-img);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }

  .meditation-activites__img {
    width: $small-img;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($sea-img);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }

  .helmet-activites__img {
    width: $small-img;
    height: 310px;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($new-suit);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }

  .newsuit-activites__img {
    width: $small-img;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($bloody-helmet);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }

  .lazertag-activites__img {
    width: $big-img;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($battle-field);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }

  .flights-activites__img {
    width: $big-img;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($mando-img);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }

  .tatooine-activites__img {
    width: $small-img;
    height: 310px;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($tatooine-img);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
    &:hover {
      scale: $transition-scale;
    }
  }
}

@media screen and (max-width: 1160px) {
  .headline-activites-section{
    padding-top: 275px;
    padding-bottom: 20px;
  }

  .section-activites {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 70px;

    .title-img {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      background-color: #666666b9;
      backdrop-filter: blur(10px);

      display: flex;
      align-items: flex-end;
      text-align: center;
      justify-content: center;

      color: #d1d1d1;
    }
  }
}

@media screen and (max-width: 720px) {
  .headline-activites-section{
    padding-top: 75px;
    padding-bottom: 20px;
  }

  .section-activites {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 1130px;
    margin-top: 0px;

    .allies-activites__img {
      width: 300px;
      height: 120px;

      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .little-img {
      width: 300px;
      height: 120px;

      background-size: cover;
      background-repeat: no-repeat;

      mix-blend-mode: normal;
      border-radius: 4px;
    }
  }
}