.section_for {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  height: 1031px;
  margin-top: 430px;

  .text_center {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    background-color: #666666b9;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #d1d1d1;
  }

  .sport {
    // не залишай зайвий закоментований код
    // position: absolute;
    width: 297px;
    height: 310px;
    left: 0px;
    top: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/section_tree/newS3/three.jpg);

    mix-blend-mode: normal;
    border-radius: 4px;
    // transition issue
    transition: 0.2s;
  }
  // nesting
  .sport:hover {
    scale: 1.1;
  }

  .health {
    // не залишай зайвий закоментований код
    // position: absolute;
    width: 296px;
    height: 310px;
    left: 320px;
    top: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/section_tree/newS3/sea_star.jpg);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
  }
  // nesting
  .health:hover {
    scale: 1.1;
  }

  .extreme {
    width: 297px;
    height: 310px;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/section_tree/newS3/three.jpg);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
  }
  // nesting
  .extreme:hover {
    scale: 1.1;
  }

  .games {
    // не залишай зайвий закоментований код
    // position: absolute;
    width: 300px;
    height: 310px;
    left: 0px;
    top: 391px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/new_images/mike_2.jpg);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
  }
  // nesting
  .games:hover {
    scale: 1.1;
  }
  // не зовсім розумію сенс назви, якщо в тебе все однакове і відрізняється тільки background-image -
  // можна зробити один клас, який буде задавати загальні стилі і інші класи які будуть задавати тільки background-image
  .culture_copy {
    width: 620px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/section_tree/newS3/wp3390444-wallpaper-star-war.jpg);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
  }
  // nesting
  .culture_copy:hover {
    scale: 1.05;
  }

  .culture {
    width: 620px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/section_tree/newS3/mando.jpg);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
  }
  // nesting
  .culture:hover {
    scale: 1.05;
  }
  // те саме стосовно назви і схожих параметрів
  .games_copy {
    width: 300px;
    height: 310px;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/section_tree/newS3/sec_3.jpg);

    mix-blend-mode: normal;
    border-radius: 4px;
    transition: 0.2s;
  }
  // nesting
  .games_copy:hover {
    scale: 1.1;
  }
  // naming
  .h_tree {
    position: absolute;
    width: 413px;
    height: 30px;
    top: -80px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;

    margin-top: 20px;
    color: #444444;
  }
}

@media screen and (max-width: 1160px) {

  .section_for {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 700px;
    margin-top: 800px;

    .text_centr {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      background-color: #666666b9;

      display: flex;
      align-items: flex-end;
      text-align: center;
      justify-content: center;

      color: #d1d1d1;
    }

    .h_tree {
      position: absolute;
      width: 350px;
      height: 27px;
      justify-content: center;
      top: -90px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;

      display: flex;
      align-items: flex-end;
      text-align: center;

      color: #444444;
    }

    .sport {
      width: 210px;
      height: 310px;
      left: 0px;
      top: 61px;

      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/three.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .health {
      // position: absolute;
      width: 210px;
      height: 310px;
      left: 320px;
      top: 61px;

      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/sea_star.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .extreme {
      width: 210px;
      height: 310px;

      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/three.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .games {
      width: 210px;
      height: 310px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/new_images/mike_2.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }
    .culture_copy {
      // position: absolute;
      width: 436px;
      height: 310px;

      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/wp3390444-wallpaper-star-war.jpg);
      object-fit: cover;
      object-position: 0px;

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .culture {
      // position: absolute;
      width: 436px;
      height: 310px;

      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/mando.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .games_copy {
      // position: absolute;
      width: 210px;
      height: 310px;

      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/sec_3.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 720px) {
  .section_for {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    // width: 300px;
    height: 1280px;
    margin-top: 950px;

    .h_tree {
      position: absolute;
      width: 269px;
      height: 54px;
      top: 40px;

      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;

      color: #444444;
    }

    .sport {
      // position: absolute;
      width: 300px;
      height: 120px;

      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/three.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;

      .text_centr {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        /* identical to box height */

        display: flex;
        align-items: flex-end;
        text-align: center;

        color: #d1d1d1;
      }
    }

    .health {
      width: 300px;
      height: 120px;

      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/sea_star.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .extreme {
      width: 300px;
      height: 120px;

      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/three.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .games {
      width: 300px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/new_images/mike_2.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .culture_copy {
      width: 300px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/wp3390444-wallpaper-star-war.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .culture {
      width: 300px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/mando.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }

    .games_copy {
      width: 300px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./img/section_tree/newS3/sec_3.jpg);

      mix-blend-mode: normal;
      border-radius: 4px;
    }
  }

}