.section_for {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  height: 1031px;
  margin-top: 430px;
}
.section_for .text_centr {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  background-color: rgba(102, 102, 102, 0.7254901961);
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  color: #d1d1d1;
}
.section_for .sport {
  width: 297px;
  height: 310px;
  left: 0px;
  top: 61px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/alies.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .sport:hover {
  scale: 1.1;
}
.section_for .health {
  width: 296px;
  height: 310px;
  left: 320px;
  top: 61px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/sea_star.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .health:hover {
  scale: 1.1;
}
.section_for .extreme {
  width: 297px;
  height: 310px;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/red-suit.webp");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .extreme:hover {
  scale: 1.1;
}
.section_for .games {
  width: 300px;
  height: 310px;
  left: 0px;
  top: 391px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/new_images/mike_2.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .games:hover {
  scale: 1.1;
}
.section_for .culture_copy {
  width: 620px;
  height: 310px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/battle-field.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .culture_copy:hover {
  scale: 1.1;
}
.section_for .culture {
  width: 620px;
  height: 310px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/mando.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .culture:hover {
  scale: 1.1;
}
.section_for .games_copy {
  width: 300px;
  height: 310px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/section_tree/tatooine.jpg");
  mix-blend-mode: normal;
  border-radius: 4px;
  transition: 0.2s;
}
.section_for .games_copy:hover {
  scale: 1.1;
}
.section_for .h_tree {
  position: absolute;
  width: 413px;
  height: 30px;
  top: -80px;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  margin-top: 20px;
  color: #444444;
}

@media screen and (max-width: 1160px) {
  .section_for {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 700px;
    margin-top: 800px;
  }
  .section_for .text_centr {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    background-color: rgba(102, 102, 102, 0.7254901961);
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    color: #d1d1d1;
  }
  .section_for .h_tree {
    position: absolute;
    width: 350px;
    height: 27px;
    justify-content: center;
    top: -90px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #444444;
  }
  .section_for .sport {
    width: 210px;
    height: 310px;
    left: 0px;
    top: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/alies.jpg");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .health {
    width: 210px;
    height: 310px;
    left: 320px;
    top: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/sea_star.jpg");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .extreme {
    width: 210px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/red-suit.webp");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .games {
    width: 210px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/new_images/mike_2.jpg");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .culture_copy {
    width: 436px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/battle-field.jpg");
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0px;
       object-position: 0px;
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .culture {
    width: 436px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/mando.jpg");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .games_copy {
    width: 210px;
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/tatooine.jpg");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
}
@media screen and (max-width: 720px) {
  .section_for {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    height: 1280px;
    margin-top: 950px;
  }
  .section_for .h_tree {
    position: absolute;
    width: 269px;
    height: 54px;
    top: 40px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #444444;
  }
  .section_for .sport {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/alies.jpg");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .sport .text_centr {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #d1d1d1;
  }
  .section_for .health {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/sea_star.jpg");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .extreme {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/red-suit.webp");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .games {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/new_images/mike_2.jpg");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .culture_copy {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/battle-field.jpg");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .culture {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/mando.jpg");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
  .section_for .games_copy {
    width: 300px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/section_tree/tatooine.jpg");
    mix-blend-mode: normal;
    border-radius: 4px;
  }
}/*# sourceMappingURL=section-for.css.map */